body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif; /* Add this line */
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}

#hero .profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#hero .profile-img {
    width: 400px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 50px;
}

#hero .profile-text {
    margin-right: 20px;
    flex: 1;
}

#hero h1 {
    font-size: 3em;
}

#about .profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#about .about-img {
    order: 2;
    width: 400px;
    border-radius: 20%;
    margin-left: auto;
    margin-right: 40px;
}

#about .about-text {
    order: 1;
    margin-right: 20px;
    text-align: left;
}

#about h2 {
    font-size: 3em;
    margin-left: 40px;
}

#thoughts {
    text-align: left;
}

#thoughts .section-inner {
    font-size: 16px;
    line-height: 1.5;
}

#thoughts p {
    margin-left: 30px;
    margin-right: 20px;
}

#thoughts h2 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 10px;
}

#thoughts ul {
    margin-top: 0;
    padding-left: 20px;
}

#thoughts li {
    margin-left: 30px;
    margin-bottom: 5px;
}

#thoughts li:before {
    margin-right: 10px;
}





footer {
    text-align: center;
    padding: 50px;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

.section-inner p {
    display: block;
    font-size: 20px;
  }  


#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/field.jpg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/canyon.jpg');
}

#thoughts {
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url('stairs.JPG');
}

#life {
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url('2560px-River_Swat_Pakistan_3.jpg');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url('2560px-River_Swat_Pakistan_3.jpg');
}